@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
  
}

h1  {
    text-align: center;
    font-size: 3em;
    padding: 10px 0;
    font-weight: 800;
    color: rgb(92, 89, 89);
  }
  
ul {
    list-style: none;
  }

.sidebar {
  width: 20%;
  height: 100vh;
  padding: 5%;
  padding-top: 0%;
  align-items: center; 
  background: #cde8e8;
}

.topBanner  {
    width: 100%;
    padding:6px 0;
    text-align: center;
    background:  #cde8e8;
    color: white;
    border-bottom: 0.2em;
    border-color: #519797;
  }

.article-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
  }

.container {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: aliceblue;
    height: 80vh;
}

#articleTitle {
    font-size: 20px;
    vertical-align: text-top;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1%;
}

.topicAndDate {
    padding-top: 1%;
    text-align: right;
    place-content: end;
    margin-right: 10%;
}

#writtenBy {
  padding-top: 1%;
  text-align: right;
  place-content: end;
}

.article-card {   
    height: 170px;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
    width: 60%;
    background-color: white;    
  }

.topicTitle {
  text-align: center;
  font-size: 2em;
  padding: 10px 0;
  font-weight: 800;
  color: rgb(92, 89, 89);
  text-transform: capitalize;
}

.articleMain {
  background-color: aliceblue;
  padding-top: 5vh;
  border: solid;
  border-color: rgb(217, 233, 246)
}

#articleTitle {
  text-align: center;
  font-size: 20px;
}

#articleBody {
  font-size: 16px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
}

#writtenBy {
  margin-right: 10%;
}

.articlePage {
  display: flex;
}

button {
  background-color: rgb(78, 168, 77);
  border-radius: 5px;
  color: white;
  padding: 2px;
}

button:disabled {
  background-color: aliceblue;
  color: aliceblue;
}

.individualComment {
  border: solid;
  border-color: black
}

.allComments {
  background-color: white;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
  margin-top: 5%;
}

.details {
  text-align: right;
}